<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sinoku.web.dao.management.ManageUserDao" >


    <resultMap id="manageUserMap" type="org.sinoku.common.entity.manage.ManageUserEntity">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="user_tel" property="userTel" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="userResult">
      id,user_name,create_time,update_time,user_tel
    </sql>


    <select id="getManageUser" resultMap="manageUserMap" parameterType="org.sinoku.common.entity.manage.ManageUserEntity">
      SELECT <include refid="userResult"/>
      FROM manage_user u
      WHERE 1=1
        <if test="id!=null">
          AND u.id = #{id,jdbcType=INTEGER}
        </if>
        <if test="userName!=null and userName!='' ">
          AND u.user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="userPassword!=null and userPassword!='' ">
          AND u.user_password = #{userPassword,jdbcType=VARCHAR}
        </if>
        <if test="userTel!=null and userTel!='' ">
          AND u.user_tel = #{userTel,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getLoginManage" resultMap="managementUserMap" parameterType="org.sinoku.common.entity.manage.ManageUserEntity">
        SELECT <include refid="userResult"/>
        FROM manage_user u
        WHERE 1=1
        <if test="userName!=null and userName!='' ">
            AND u.user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="userPassword!=null and userPassword!='' ">
            AND u.user_password = #{userPassword,jdbcType=VARCHAR}
        </if>
        AND u.is_delete = 0
    </select>

</mapper>