<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sinoku.web.dao.management.ManagementUserDao" >


    <resultMap id="managementUserMap" type="org.sinoku.common.entity.management.ManagementUserEntity">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="mobile_num" property="mobileNum" jdbcType="VARCHAR" />
        <result column="" />
    </resultMap>

    <sql id="userResult">
      id,user_name,create_time,update_time,mobile_num
    </sql>


    <select id="getManagementUser" resultMap="managementUserMap" parameterType="org.sinoku.common.entity.management.ManagementUserEntity">
      SELECT <include refid="userResult"/>
      FROM managament_user u
      WHERE 1=1
        <if test="id!=null">
          AND u.id = #{id,jdbcType=INTEGER}
        </if>
        <if test="userName!=null and userName!='' ">
          AND u.user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="password!=null and password!='' ">
          AND u.password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="mobileNum!=null and mobileNum!='' ">
          AND u.mobile_num = #{mobileNum,jdbcType=VARCHAR}
        </if>
    </select>


</mapper>